{{ $url := .Get 0 }}

{{ $jsonData := getJSON $.Page.Site.Params.OgpApiEndpoint $url }}
{{ $siteName := $jsonData.siteName }}
{{ $title := $jsonData.title }}
{{ $description := $jsonData.description }}
{{ $descriptionShort := $jsonData.descriptionShort }}
{{ $image := $jsonData.image }}
{{ $urlInfo := urls.Parse $url }}
{{ $host := printf "%s://%s" $urlInfo.Scheme $urlInfo.Host }}
{{ $hostname := $urlInfo.Host }}
{{ $prefix := "https://www.google.com/s2/favicons?domain=" }}
{{ $favicon := printf "%s%s" $prefix $urlInfo.Host }}

<div class="link-card">
    <a href="{{ $url }}" rel="noopener noreferrer nofollow" target="_blank">
        {{- if ne $title nil -}}
        <strong class="link-card-title">
            {{ $title }}
        </strong>
        {{ else }}
        <strong class="link-card-title">
            {{ $siteName }}
        </strong>
        {{- end -}}
        {{- if ne $descriptionShort nil -}}
        <em class="link-card-description">
            {{ $descriptionShort }}
        </em>
        {{- end -}}
        <em class="link-card-url">
            {{ $hostname }}
        </em>
    </a>
    {{- if ne $image nil -}}
    <a class="link-card-image"
        href="{{ $url }}"
        rel="noopener noreferrer nofollow"
        style="background-image: url('{{ $image }}');"
        target="_blank">
    </a>
    {{- end -}}
</div>